services:
  db:
    image: postgres:16-alpine
    container_name: db_kippachange
    restart: always
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=kippachange_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_container
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db
    networks:
      - app-network

  message-broker:
    container_name: rabbitmq-kippachange
    image: rabbitmq:management-alpine
    environment:
      RABBITMQ_DEFAULT_USER: "user"
      RABBITMQ_DEFAULT_PASS: "password"
      RABBITMQ_ERLANG_COOKIE: "secret_cookie_kippachange_12345"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 30s
    networks:
      - app-network

  mongodb:
    image: mongo:latest
    container_name: mongodb_container
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express:latest
    container_name: mongodb_visualizer
    restart: always
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongodb
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=pass
    depends_on:
      - mongodb

  ms-notifications:
    build: ./MS-Notifications
    container_name: ms-notifications-kippachange
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
      - RABBITMQ_URI=amqp://user:password@message-broker:5672
    networks:
      - app-network
    depends_on:
      message-broker:
        condition: service_healthy

  # Microservice Python (Bet)
  ms-bet:
    build: ./MS-Bet
    container_name: ms-bet-kippachange
    ports:
      - "8001:80"
    volumes:
      - ./MS-Bet/src:/project/src
    # Commande de démarrage (rechargement automatique activé)
    command: python -m uvicorn main:app --host 0.0.0.0 --port 80 --reload --reload-dir /project/src
    environment:
      - RABBITMQ_HOST=message-broker
      - RABBITMQ_USER=user
      - RABBITMQ_PASS=password
      - RABBITMQ_PORT=5672
      - RABBITMQ_EXCHANGE=bet_exchange
    depends_on:
      message-broker:
        condition: service_healthy

    networks:
      - app-network

  service-user:
    build: ./MS-User
    container_name: service_user
    environment:
      - MONGO_URL=mongodb://mongodb:27017/kippachange_users
    depends_on:
      - mongodb
    ports:
      - "3002:3002"

  service-auth:
    build: ./MS-Auth
    container_name: service_auth
    ports:
      - "3003:3003"

  service-gateway:
    build: ./Gateway
    container_name: service_gateway
    ports:
      - "4001:4001"
    depends_on:
      - ms-notifications
      - ms-bet
      - service-user
      - service-auth

volumes:
  rabbitmq_data:
  postgres_data:

networks:
   app-network:
    driver: bridge




  